// Hours: Open ⋅ Closes 7:30 PM
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Hours: Open 10AM ⋅ Closes 7 PM
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Address: 79 Elizabeth St, New York, NY 10013
font-size: 64px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Bustling Asian grocery store selling imported dry goods alongside fresh meat, seafood & produce.
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Address: 157 Hester St, New York, NY 10013
font-size: 64px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Highlights: <br/>Accepts SNAP<br/>Accepts credit cards · Accepts debit cards
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // Hong Kong Supermarket
font-size: 128px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Deluxe Food Market
font-size: 128px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Highlights: Same-day delivery · Bakery · Prepared foods
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word --- // 11:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 13:00
color: #FF0000;
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 16:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 19:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // No-frills shop selling Chinese groceries, baked goods, sticky rice & Far East-style sandwiches.
color: #FF0000;
font-size: 40px;
font-family: Kameron;
font-weight: 400;
word-wrap: break-word