// What I got
color: #FF00E1;
font-size: 128px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Cash
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 4.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 9.0
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Kintoki Ninjin
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 9.0
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // L'occitane Rose Hand Cream 
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 20<br/>
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 5.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 2.5
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Eclipse Mints
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 1.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 2.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 3.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 2.5
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Corns
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Pork Ribet
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 6.0
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 7.
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // What’s in my bag:
color: #FF00E1;
font-size: 128px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // Vaseline Lip Therapy Rosy Lips
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 4.5
color: #FF00E1;
font-size: 64px;
font-family: Kapakana;
font-weight: 400;
word-wrap: break-word --- // 11:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 13:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 16:00
color: #FF00E1;
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word --- // 19:00
font-size: 48px;
font-family: Kumar One;
font-weight: 400;
word-wrap: break-word